USE [master]
GO
/****** Object:  Database [PaySlip]    Script Date: 05-07-2024 01:53:37 ******/
CREATE DATABASE [PaySlip]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PaySlip', FILENAME = N'C:\Users\USER\PaySlip.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PaySlip_log', FILENAME = N'C:\Users\USER\PaySlip_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PaySlip].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PaySlip]
GO
/****** Object:  Table [dbo].[Events]    Script Date: 05-07-2024 01:53:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Events](
	[EventID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](255) NULL,
	[StartDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
	[Description] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[EventID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ticket]    Script Date: 05-07-2024 01:53:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ticket](
	[TicketID] [int] IDENTITY(1,1) NOT NULL,
	[Designation] [nvarchar](255) NOT NULL,
	[RaiseTicketTo] [nvarchar](255) NOT NULL,
	[TicketDescription] [nvarchar](max) NOT NULL,
	[AttachmentFileName] [nvarchar](255) NULL,
	[CreatedAt] [datetime] NULL,
	[Solution] [varchar](100) NULL,
	[SolutionDate] [datetime] NULL,
	[RaisedBy] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[TicketID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 05-07-2024 01:53:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(100,1) NOT NULL,
	[Name] [varchar](100) NULL,
	[Email] [varchar](100) NULL,
	[Salary] [decimal](10, 2) NULL,
	[Dob] [date] NULL,
	[Doj] [date] NULL,
	[Urole] [varchar](100) NULL,
	[Contact] [varchar](100) NULL,
	[TotalLeaves] [int] NULL,
	[PaidLeave] [int] NULL,
	[casualLeave] [int] NULL,
	[SickLeave] [int] NULL,
	[password] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Ticket] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((24)) FOR [TotalLeaves]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((12)) FOR [PaidLeave]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((4)) FOR [casualLeave]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((8)) FOR [SickLeave]
GO
USE [master]
GO
